streamlit
streamlit-extras
streamlit-pdf-viewer
langchain
langgraph
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-huggingface
pymongo
langchain-mongodb
python-dotenv
PyMuPDF
pdfplumber
pandas
huggingface-hub
unstructured
python-pptx
subprocess 
